* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #007fff;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

.header {
    padding: 30px 0;
}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

.nav-items {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.header-logo {
    font-size: 37px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.content-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.timer-div {
    display: flex;
    flex-direction: column;
}

.timer-inputs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.timer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.timer-buttons button {
    padding: 12px 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.timerNumber {
    font-size: 64px;
    font-weight: bold;
    color: white;
}